.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__movie {
        width: 200px; /* Adjust as per your design */
        margin: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;   
    }

    &__notfound {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}